*,
:after,
:before {
  box-sizing: border-box;
}
ol[class],
ul[class] {
  padding: 0;
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
li,
ol[class],
p,
ul[class] {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ol[class],
ul[class] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
button,
input,
select,
textarea {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
html {
  background-color: #fff;
  box-sizing: border-box;
  color: #212121;
}
body {
  font-family: arial, x-locale-body, sans-serif;
  letter-spacing: -0.0027777778rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  line-height: 1.6;
}
@font-face {
  font-display: swap;
  font-family: zillaslab;
  font-style: normal;
  font-weight: 700;
  src: url(/static/media/ZillaSlab-Bold.subset.e96c15f6.woff2) format("woff2"),
    url(/static/media/ZillaSlab-Bold.subset.da0ccde4.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: zillaslab;
  font-style: normal;
  font-weight: 400;
  src: url(/static/media/ZillaSlab-Regular.subset.bbc33fb4.woff2)
      format("woff2"),
    url(/static/media/ZillaSlab-Regular.subset.0357f126.woff) format("woff");
}
h1,
h2,
h3 {
  font-family: zillaslab, palatino, "Palatino Linotype", serif;
  line-height: 1.2;
}
h1 {
  font-size: 2.488rem;
}
@media (min-width: 47.9385em) {
  h1 {
    font-size: 3.052rem;
  }
}
h2 {
  font-size: 2.074rem;
}
@media (min-width: 47.9385em) {
  h2 {
    font-size: 2.441rem;
  }
}
h3 {
  font-size: 1.728rem;
  background-color: #212121;
  color: #fff;
  font-weight: 400;
  margin: 24px 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 6px;
}
@media (min-width: 47.9385em) {
  h3 {
    font-size: 1.953rem;
  }
}
h4 {
  font-size: 1.44rem;
}
@media (min-width: 47.9385em) {
  h4 {
    font-size: 1.563rem;
  }
}
h5 {
  font-size: 1.2rem;
}
@media (min-width: 47.9385em) {
  h5 {
    font-size: 1.25rem;
  }
}
p {
  margin-bottom: 24px;
}
.smaller-text {
  font-size: 0.9rem;
}
.tiny-text {
  font-size: 0.75rem;
}
.readable-line-length {
  max-width: 42rem;
  max-width: 80ch;
}
a:link,
a:visited {
  color: #1e7f9d;
  text-decoration: none;
}
a:link:active,
a:link:focus,
a:link:hover,
a:visited:active,
a:visited:focus,
a:visited:hover {
  text-decoration: underline;
}
a {
  color: #1e7f9d;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
dl dt {
  font-weight: 700;
}
dl dd {
  margin: 0 24px 24px;
}
.flex-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  gap: 24px;
}
.flex-list.styled {
  margin: 24px 0;
  padding-left: 48px;
}
.flex-list li {
  flex-basis: 45%;
}
ul.flex-list.styled li {
  list-style-type: disc;
}
ol.flex-list.styled li {
  list-style-type: decimal;
}
.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 21px;
  content: "";
  display: inline-block;
  height: 21px;
  margin-right: 5px;
  vertical-align: sub;
  width: 21px;
}
.experimental,
.non-standard {
  fill: #1e7f9d;
}
.deprecated,
.warning {
  fill: #b49e35;
}
.obsolete {
  fill: #95353a;
}
.neutral {
  color: #1e7f9d;
}
.warning {
  color: #b49e35;
}
.error {
  color: #95353a;
}
.success {
  color: #276738;
}
.notecard {
  border-left: 6px solid #1e7f9d;
  padding: 12px;
}
.notecard:before {
  background-size: 18px;
  content: "";
  display: inline-block;
  height: 21px;
  margin-right: 6px;
  position: relative;
  top: 2px;
  width: 20px;
}
.notecard a:link,
.notecard a:visited {
  color: #212121;
  text-decoration: underline;
}
.notecard a:focus,
.notecard a:hover {
  text-decoration: none;
}
.notecard h4,
.notecard p {
  line-height: 1;
}
.notecard h4 {
  display: inline-block;
  font-size: 1.2rem;
}
@media (min-width: 47.9385em) {
  .notecard h4 {
    font-size: 1.25rem;
  }
}
.notecard p {
  margin: 6px 0;
}
.notecard.inline,
.notecard.inline p {
  display: inline-block;
}
.notecard.note {
  background-color: #dcf4ff;
}
.notecard.note:before {
  background: transparent url(/static/media/file.57841198.svg) 0 2px no-repeat;
}
.notecard.draft,
.notecard.experimental,
.notecard.secure,
.notecard.warning {
  background-color: #fef1b6;
  border-color: #e1c542;
  color: #212121;
}
.notecard.draft:before,
.notecard.experimental:before,
.notecard.secure:before,
.notecard.warning:before {
  background: transparent url(/static/media/exclamation-triangle.99f1eb63.svg) 0
    2px no-repeat;
}
.notecard.experimental:before {
  background-image: url(/static/media/flask.59d507d8.svg);
}
.notecard.draft:before {
  background-image: url(/static/media/pencil.bf920af1.svg);
}
.notecard.secure:before {
  background-image: url(/static/media/lock.2b000297.svg);
}
.notecard.deprecated,
.notecard.negative,
.notecard.obsolete {
  background-color: #ffbdbd;
  border-color: #d0454c;
  color: #212121;
}
.notecard.deprecated:before,
.notecard.negative:before,
.notecard.obsolete:before {
  background: transparent url(/static/media/trash.655a133b.svg) 0 2px no-repeat;
}
.notecard.deprecated:before {
  background-image: url(/static/media/thumbs-down.c0a5dd6f.svg);
}
code {
  background-color: #eee;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 2px;
  word-wrap: break-word;
}
code,
kbd {
  font-family: consolas, "Liberation Mono", courier, monospace;
}
kbd {
  background: linear-gradient(180deg, #eee, #fff);
  background-color: #eee;
  border: 1px solid #cdd5d7;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px #cdd5d7;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  padding: 4px 6px;
}
.notranslate code {
  background-color: transparent;
}
.button,
a.button {
  background-color: #1e7f9d;
  border: 2px solid #1e7f9d;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-weight: 700;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-height: 45px;
  padding: 10px 20px;
  text-decoration: none;
}
.button:focus,
.button:hover,
a.button:focus,
a.button:hover {
  background-color: #216b82;
  border-color: #216b82;
}
.button:active,
a.button:active {
  background-color: #1e7f9d;
  border-color: #1e7f9d;
}
.button:focus,
.button:hover,
a.button:focus,
a.button:hover {
  text-decoration: underline;
}
.button:active,
a.button:active {
  text-decoration: none;
}
.outline,
a.outline {
  background-color: #fff;
  border-color: #1e7f9d;
  color: #1e7f9d;
}
.outline:focus,
.outline:hover,
a.outline:focus,
a.outline:hover {
  color: #fff;
}
.danger,
a.danger {
  background-color: #b54248;
  border: 2px solid #b54248;
  color: #fff;
}
.danger:focus,
.danger:hover,
a.danger:focus,
a.danger:hover {
  background-color: #95353a;
  border-color: #95353a;
}
.danger:active,
a.danger:active {
  background-color: #b54248;
  border-color: #b54248;
}
.danger.outline,
a.danger.outline {
  background-color: #fff;
  border-color: #b54248;
  color: #b54248;
}
.danger.outline:focus,
.danger.outline:hover,
a.danger.outline:focus,
a.danger.outline:hover {
  background-color: #95353a;
  border-color: #95353a;
  color: #fff;
}
.danger.outline:active,
a.danger.outline:active {
  background-color: #b54248;
  border-color: #b54248;
}
.positive,
a.positive {
  background-color: #367b48;
  border: 2px solid #367b48;
  color: #fff;
}
.positive:focus,
.positive:hover,
a.positive:focus,
a.positive:hover {
  background-color: #276738;
  border-color: #276738;
}
.positive:active,
a.positive:active {
  background-color: #367b48;
  border-color: #367b48;
}
.positive.outline,
a.positive.outline {
  background-color: #fff;
  border-color: #367b48;
  color: #367b48;
}
.positive.outline:focus,
.positive.outline:hover,
a.positive.outline:focus,
a.positive.outline:hover {
  background-color: #276738;
  border-color: #276738;
  color: #fff;
}
.positive.outline:active,
a.positive.outline:active {
  background-color: #367b48;
  border-color: #367b48;
}
.light,
a.light {
  background-color: #fff;
  border: 2px solid #fff;
  color: #212121;
}
.light:active,
.light:focus,
.light:hover,
a.light:active,
a.light:focus,
a.light:hover {
  background-color: #fff;
  border-color: #fff;
}
.light.outline,
a.light.outline {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.light.outline:focus,
.light.outline:hover,
a.light.outline:focus,
a.light.outline:hover {
  background-color: #fff;
  border-color: #fff;
  color: #212121;
}
.light.outline:active,
a.light.outline:active {
  background-color: #fff;
  border-color: #fff;
}
.inactive,
a.inactive {
  background-color: #c9c9c9;
  border: 2px solid #c9c9c9;
  color: #626262;
  cursor: default;
}
.inactive:active,
.inactive:focus,
.inactive:hover,
a.inactive:active,
a.inactive:focus,
a.inactive:hover {
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.inactive:focus,
.inactive:hover,
a.inactive:focus,
a.inactive:hover {
  color: #626262;
  text-decoration: none;
}
.minimal,
a.minimal {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  min-height: inherit;
  padding: 3px 6px;
}
@media (min-width: 47.9385em) {
  .minimal,
  a.minimal {
    padding: 0 6px;
  }
}
.ghost {
  background: none;
  border: 0;
  cursor: pointer;
}
.icon-button svg {
  fill: currentColor;
  height: 22px;
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 22px;
}
.icon-button.right svg {
  margin-left: 10px;
  margin-right: 0;
}
form .field-group {
  margin-bottom: 20px;
}
form .field-group.inline {
  display: inline-block;
  margin-right: 20px;
}
form .field-note {
  color: #626262;
  font-size: 0.9rem;
}
fieldset {
  border: 0;
  margin: 20px 0;
  padding-bottom: 0;
}
fieldset.bordered {
  border: 1px solid #8e8e8e;
}
legend.highlighted {
  background-color: #212121;
  color: #fff;
  padding: 10px 4px;
}
legend.highlighted code {
  background-color: transparent;
}
legend.emphasized {
  font-weight: 700;
  padding: 10px 0;
}
label {
  display: block;
  margin-bottom: 5px;
}
label.inline {
  display: inline-block;
}
[type="email"],
[type="password"],
[type="text"],
[type="url"],
textarea {
  border: 1px solid #8e8e8e;
  border-radius: 4px;
  padding: 5px 10px;
}
[type="email"]:active,
[type="email"]:focus,
[type="password"]:active,
[type="password"]:focus,
[type="text"]:active,
[type="text"]:focus,
[type="url"]:active,
[type="url"]:focus {
  border-color: #1e7f9d;
  box-shadow: 1px 1px 1px #1e7f9d;
  outline: 0;
}
[type="email"].valid,
[type="password"].valid,
[type="text"].valid,
[type="url"].valid {
  border-color: #367b48;
  outline: 2px dashed #367b48;
  outline-offset: 3px;
}
[type="email"].valid:active,
[type="email"].valid:focus,
[type="password"].valid:active,
[type="password"].valid:focus,
[type="text"].valid:active,
[type="text"].valid:focus,
[type="url"].valid:active,
[type="url"].valid:focus {
  box-shadow: 1px 1px 1px #367b48;
}
[type="email"].invalid,
[type="password"].invalid,
[type="text"].invalid,
[type="url"].invalid {
  border-color: #b54248;
  outline: 2px dashed #b54248;
  outline-offset: 3px;
}
[type="email"].invalid:active,
[type="email"].invalid:focus,
[type="password"].invalid:active,
[type="password"].invalid:focus,
[type="text"].invalid:active,
[type="text"].invalid:focus,
[type="url"].invalid:active,
[type="url"].invalid:focus {
  box-shadow: 1px 1px 1px #b54248;
}
textarea {
  min-height: 120px;
  min-width: 350px;
}
.properties,
.standard-table {
  border-collapse: collapse;
}
.properties a,
.standard-table a {
  color: #212121;
  text-decoration: underline;
}
.properties td,
.properties th,
.standard-table td,
.standard-table th {
  text-align: left;
}
.properties code,
.standard-table code {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.properties {
  max-width: 42rem;
  max-width: 80ch;
  border: 2px solid #216b82;
  border-left-width: 6px;
}
.properties td,
.properties th {
  background-color: #dcf4ff;
  border: 0;
  border-top: 2px solid #216b82;
  display: block;
  padding: 12px;
  vertical-align: top;
}
@media (min-width: 63.9385em) {
  .properties td,
  .properties th {
    display: table-cell;
  }
}
@media (min-width: 63.9385em) {
  .properties th {
    min-width: 30%;
  }
}
.standard-table {
  width: 100%;
}
@media (min-width: 63.9385em) {
  .standard-table {
    border-left: 6px solid #276738;
  }
}
.standard-table td,
.standard-table th {
  border-left: 2px solid #fff;
  padding: 12px;
}
.standard-table th {
  background-color: #eee;
  border-bottom: 2px solid #fff;
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 63.9385em) {
  .standard-table th {
    max-width: inherit;
    overflow: inherit;
    text-overflow: inherit;
  }
}
.standard-table td {
  background-color: #ebf8e1;
  border-bottom: 2px solid #fff;
}
.standard-table tr th:first-child {
  max-width: 90px;
}
.standard-table tr td:first-child,
.standard-table tr th:first-child {
  border-left: 0;
}
.standard-table tr:last-child td {
  border-bottom: 0;
}
.page-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 90px;
  width: 100%;
  z-index: 200;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.hide {
  visibility: hidden;
}
.hidden {
  display: none;
}
.show-flex {
  display: flex;
}
.sample-code-frame {
  border: 1px solid #1e7f9d;
  border-left-width: 6px;
  margin: 12px 0;
  padding: 0 12px;
  width: 100%;
}
@supports (display: grid) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
  @media (min-width: 74.9375em) {
    .page-wrapper {
      grid-template-columns: 65% 35%;
    }
  }
  .reference-page .breadcrumbs-locale-container,
  .reference-page .page-content-container,
  .reference-page .page-footer,
  .reference-page .page-header,
  .reference-page .titlebar-container {
    grid-column: 1/2;
  }
  @media (min-width: 74.9375em) {
    .reference-page .breadcrumbs-locale-container,
    .reference-page .page-content-container,
    .reference-page .page-footer,
    .reference-page .page-header,
    .reference-page .titlebar-container {
      grid-column: 1/3;
    }
  }
  .reference-page .page-header {
    grid-row: 1/2;
  }
  .reference-page .breadcrumbs-locale-container {
    display: flex;
    grid-row: 2/3;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
  }
  .reference-page .breadcrumbs-locale-container .breadcrumb-container {
    flex-basis: 70%;
  }
  .reference-page .breadcrumbs-locale-container .locale-container {
    flex-basis: 30%;
  }
  .reference-page .titlebar-container {
    grid-row: 3/4;
  }
  .reference-page .page-content-container {
    display: grid;
    grid-row: 5/6;
    grid-template-columns: 100%;
  }
  .reference-page .page-footer {
    grid-row: 6/7;
  }
  @media (min-width: 74.9375em) {
    .reference-page .titlebar-container {
      grid-row: 2/3;
    }
    .reference-page .breadcrumbs-locale-container {
      grid-row: 3/4;
    }
    .reference-page .page-content-container {
      grid-row: 4/5;
      grid-template-columns: 25% 75%;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
      margin: 0 auto;
      max-width: 1400px;
      width: 100%;
    }
    .reference-page .page-footer {
      grid-row: 5/6;
    }
  }
  .reference-page .document-toc-container,
  .reference-page .main-content,
  .reference-page .sidebar {
    grid-column: 1/2;
  }
  .reference-page .document-toc-container {
    grid-row: 1/2;
  }
  .reference-page .main-content {
    grid-row: 2/3;
  }
  .reference-page .sidebar {
    grid-row: 3/4;
  }
  @media (min-width: 74.9375em) {
    .reference-page .document-toc-container {
      grid-column: 1/2;
    }
    .reference-page .main-content {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    .reference-page .sidebar {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
}
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  background: none;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #708090;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #905;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #690;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.class-name,
.token.function {
  color: #dd4a68;
}
.token.important,
.token.regex,
.token.variable {
  color: #e90;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.header-search {
  background-color: #fff;
}
@media (min-width: 47.9385em) {
  .header-search {
    height: 40px;
    min-width: 80px;
    width: inherit;
  }
}
.header-search .search-widget {
  margin: 24px 0;
  position: relative;
  width: 100%;
}
@media (min-width: 47.9385em) {
  .header-search .search-widget {
    margin: 12px 0;
    min-width: 80px;
  }
}
@media (min-width: 74.9375em) {
  .header-search .search-widget {
    margin: 0;
  }
}
.header-search .search-widget:after {
  background: #fff url(/static/media/search.a3a99325.svg) 0 0 no-repeat;
  background-size: 24px;
  content: "";
  display: inline-block;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 24px;
}
.header-search input.search-input-field {
  border: 2px solid #212121;
  color: #212121;
  min-width: 60px;
  padding: 6px 12px;
  width: 100%;
}
.header-search .server-error {
  color: #95353a;
  font-size: 0.9rem;
  margin: 0;
}
.header-search .search-results {
  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  box-shadow: 0 2px 8px 0 #c9c9c9;
  left: 0;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 300;
}
.header-search .search-results .indexing-warning {
  color: #b49e35;
}
.header-search .search-results div {
  border-bottom: 1px solid #eee;
  padding: 6px;
}
.header-search .search-results .result-item.highlit,
.header-search .search-results .result-item:hover {
  background-color: #eee;
}
.header-search .search-results .result-item:focus,
.header-search .search-results .result-item:hover {
  cursor: pointer;
}
.header-search .search-results div:last-child {
  border-bottom: 0;
}
.header-search .search-results mark {
  background-color: #e1c542;
}
.header-search .search-results small {
  overflow-wrap: break-word;
}
.header-search .search-results a {
  text-overflow: ellipsis;
}
.header-search .search-results div.searchindex-error {
  color: #95353a;
}
#homepage {
  margin: 40px;
}
#homepage .header-search {
  width: 750px;
}
#homepage .search-widget .search-results {
  width: 705px;
}
#homepage ul {
  margin-bottom: 10px;
}
#homepage ul li {
  padding-left: 20px;
}
.interactive {
  background-color: #eee;
  border: 1px solid #eaf2f4;
  color: #212121;
  height: 550px;
  padding: 10px;
  width: 100%;
}
@media (min-width: 63.9385em) {
  .interactive {
    height: 390px;
  }
}
.interactive.interactive-js {
  height: 490px;
}
.interactive.taller {
  height: 692px;
}
.interactive.shorter {
  height: 410px;
}
.interactive.tabbed {
  height: 430px;
}
.no-js .interactive {
  background-color: #f8f8f8;
  height: 240px;
}
.interactive.tabbed-shorter {
  height: 375px;
}
.interactive.tabbed-standard {
  height: 445px;
}
.interactive.tabbed-taller {
  height: 655px;
}
.link-list h2 {
  border-bottom: 1px solid #eaecef;
}
.bc-github-link {
  margin: 6px 0;
}
@media (min-width: 63.9385em) {
  .bc-github-link {
    float: right;
    white-space: pre-line;
  }
}
.bc-table {
  background-color: #eee;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0;
  table-layout: fixed;
  width: 100%;
}
.bc-table a:link,
.bc-table a:visited {
  color: #212121;
  text-decoration: underline;
}
.bc-table abbr {
  cursor: help;
  text-decoration: none;
}
.bc-table td,
.bc-table th {
  border-bottom: 0 solid transparent;
  border-left: 1px solid #212121;
  border-right: 0;
  border-top: 1px solid #212121;
  padding: 6px;
  position: relative;
  text-align: center;
}
.bc-table th {
  background-color: transparent;
  border-left: 0;
  border-right: 1px solid #212121;
  overflow: hidden;
  padding: 6px;
}
.bc-table thead {
  display: none;
}
@media (min-width: 63.9385em) {
  .bc-table thead {
    display: table-header-group;
  }
}
.bc-table thead td {
  border-left: 0;
  border-right: 2px solid #212121;
  border-top: 0;
  overflow: hidden;
}
@media (min-width: 63.9385em) {
  .bc-table thead td {
    width: 200px;
  }
}
.bc-table tbody td,
.bc-table tbody th {
  border-left: 0;
  border-right: 0;
  display: block;
  max-width: 100%;
  text-align: left;
  width: 100%;
}
@media (min-width: 63.9385em) {
  .bc-table tbody th {
    border-right: 2px solid #212121;
    display: table-cell;
    font-weight: 400;
    overflow: hidden;
    width: 200px;
  }
}
@media (min-width: 63.9385em) {
  .bc-table tbody td {
    border-right: 1px solid #212121;
    display: table-cell;
    overflow: hidden;
    padding: 12px 6px;
    text-align: center;
    vertical-align: middle;
  }
}
.bc-table tbody tr:nth-child(2n) {
  background-color: #eee;
}
.bc-table .bc-browser-name {
  display: inline-block;
  width: 75%;
}
@media (min-width: 63.9385em) {
  .bc-table .bc-browser-name {
    display: none;
  }
}
.bc-table .new {
  color: #95353a;
}
@media (min-width: 63.9385em) {
  .bc-table-web thead th:nth-child(7) {
    border-right: 1px solid #212121;
  }
  .bc-table-web td:nth-child(8),
  .bc-table-web thead th:nth-child(8) {
    border-left: 1px solid #212121;
  }
}
.bc-platforms th {
  border-bottom: 2px solid #212121;
  border-left: 1px solid #212121;
  border-right: 1px solid #212121;
  border-top: 0;
  padding: 6px 0;
  width: auto;
}
.bc-platforms th:nth-child(2) {
  border-left: 0;
}
.bc-platforms span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.bc-platforms .bc-platform-desktop:before,
.bc-platforms .bc-platform-mobile:before,
.bc-platforms .bc-platform-server:before {
  background-size: 24px;
  content: "";
  display: inline-block;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}
.bc-platforms .bc-platform-desktop:before {
  background-image: url(/static/media/desktop.7ca2fa33.svg);
}
.bc-platforms .bc-platform-mobile:before {
  background-image: url(/static/media/mobile.e7f69fc1.svg);
}
.bc-platforms .bc-platform-server:before {
  background-image: url(/static/media/server.d91eb2cf.svg);
}
.bc-icons {
  display: inline-block;
  vertical-align: text-top;
}
.bc-icons i:before,
.legend-icons:before {
  background-size: 18px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  margin-left: 6px;
  width: 18px;
}
.ic-footnote:before {
  background-image: url(/static/media/asterisk.89564fd2.svg);
  content: "";
}
.ic-history:before {
  background-image: url(/static/media/chevron.38384ed3.svg);
  content: "";
}
.ic-non-standard:before {
  background-image: url(/static/media/exclamation-triangle.99f1eb63.svg);
  content: "";
}
.ic-deprecated:before {
  background-image: url(/static/media/thumbs-down.c0a5dd6f.svg);
  content: "";
}
.ic-experimental:before {
  background-image: url(/static/media/flask.59d507d8.svg);
  content: "";
}
.ic-prefix {
  display: inline-block;
  margin-right: 5px;
}
.ic-prefix:before {
  color: #212121;
  content: "-x-";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.ic-disabled:before {
  background-image: url(/static/media/flag.68751218.svg);
  content: "";
}
.ic-altname:before {
  background-image: url(/static/media/fork.894f7cf7.svg);
  content: "";
}
.bc-supports {
  border: 1px solid #212121;
  display: inline-block;
  min-width: 120px;
  padding: 6px;
  position: relative;
  text-align: center;
}
.bc-supports-yes {
  background-color: #ebf8e1;
}
.bc-supports-partial {
  background-color: #f9d8bb;
  background-image: linear-gradient(
    to bottom right,
    rgba(144, 99, 18, 0.2) 0,
    rgba(144, 99, 18, 0.2) 1px,
    transparent 0,
    transparent 67px,
    rgba(144, 99, 18, 0.2) 0,
    rgba(144, 99, 18, 0.2) 73px,
    transparent 0,
    transparent 138px,
    rgba(144, 99, 18, 0.2) 0,
    rgba(144, 99, 18, 0.2) 144px,
    transparent 0
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100px 100px;
}
.bc-supports-no,
.bc-supports-partial,
.bc-supports-unknown,
.bc-supports-yes,
.bc-table .bc-history {
  color: #212121;
}
.bc-supports-no {
  background-color: #fbdfe0;
  background-image: linear-gradient(
      to bottom right,
      rgba(94, 3, 6, 0.1) 0,
      rgba(94, 3, 6, 0.1) 1px,
      transparent 0,
      transparent 67px,
      rgba(94, 3, 6, 0.1) 0,
      rgba(94, 3, 6, 0.1) 73px,
      transparent 0,
      transparent 138px,
      rgba(94, 3, 6, 0.1) 0,
      rgba(94, 3, 6, 0.1) 144px,
      transparent 0
    ),
    linear-gradient(
      to bottom left,
      rgba(94, 3, 6, 0.1) 0,
      rgba(94, 3, 6, 0.1) 1px,
      transparent 0,
      transparent 67px,
      rgba(94, 3, 6, 0.1) 0,
      rgba(94, 3, 6, 0.1) 73px,
      transparent 0,
      transparent 138px,
      rgba(94, 3, 6, 0.1) 0,
      rgba(94, 3, 6, 0.1) 144px,
      transparent 0
    );
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-size: 100px 100px, 100px 100px;
  font-weight: 700;
}
.bc-supports-unknown {
  background-color: #eee;
}
.bc-browsers th {
  border-top: 0;
  height: 200px;
  padding: 6px 0;
  vertical-align: bottom;
}
.bc-browsers th:nth-child(2) {
  border-left: 0;
}
.bc-browsers .bc-head-txt-label {
  bottom: 0;
  display: inline-block;
  font-weight: 400;
  height: 20px;
  margin: 0 0 24px 12px;
  padding: 0;
  text-align: left;
  transform: rotate(-90deg);
  transform-origin: left;
  white-space: nowrap;
  width: 20px;
}
.bc-browsers .bc-head-txt-label:before {
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  left: -28px;
  position: absolute;
  transform: rotate(90deg);
}
.bc-head-icon-chrome:before,
.bc-head-icon-chrome_android:before,
.bc-head-icon-edge:before,
.bc-head-icon-edge_mobile:before,
.bc-head-icon-firefox:before,
.bc-head-icon-firefox_android:before,
.bc-head-icon-ie:before,
.bc-head-icon-nodejs:before,
.bc-head-icon-opera:before,
.bc-head-icon-opera_android:before,
.bc-head-icon-safari:before,
.bc-head-icon-safari_ios:before,
.bc-head-icon-samsunginternet_android:before,
.bc-head-icon-webview_android:before {
  background-size: 20px;
  height: 24px;
  width: 20px;
}
.bc-browsers .bc-head-icon-chrome:before,
.bc-browsers .bc-head-icon-chrome_android:before {
  background-image: url(/static/media/chrome.078ff6a2.svg);
}
.bc-browsers .bc-head-icon-edge:before,
.bc-browsers .bc-head-icon-edge_mobile:before {
  background-image: url(/static/media/edge.c359db7c.svg);
}
.bc-browsers .bc-head-icon-firefox:before,
.bc-browsers .bc-head-icon-firefox_android:before {
  background-image: url(/static/media/firefox.709a45f3.svg);
}
.bc-browsers .bc-head-icon-ie:before {
  background-image: url(/static/media/internet-explorer.246bd0fb.svg);
}
.bc-browsers .bc-head-icon-opera:before,
.bc-browsers .bc-head-icon-opera_android:before {
  background-image: url(/static/media/opera.a908d73c.svg);
}
.bc-browsers .bc-head-icon-safari:before,
.bc-browsers .bc-head-icon-safari_ios:before {
  background-image: url(/static/media/safari.9f63ca26.svg);
}
.bc-browsers .bc-head-icon-webview_android:before {
  background-image: url(/static/media/android.07561e55.svg);
}
.bc-browsers .bc-head-icon-samsunginternet_android:before {
  background-image: url(/static/media/samsung-internet.ccbc594e.svg);
}
.bc-browsers .bc-head-icon-nodejs:before {
  background-image: url(/static/media/nodejs.c9f4dd5a.svg);
}
.bc-history {
  background-color: #eee;
  display: none;
}
@media (min-width: 63.9385em) {
  .bc-history {
    display: table-row;
  }
}
.bc-history dl {
  display: flex;
  flex-flow: column;
  grid-gap: 24px;
  gap: 24px;
  margin: 20px;
  max-width: 85%;
}
.bc-history .bc-notes-wrapper {
  align-items: center;
  display: flex;
}
.bc-history dt {
  max-height: 48px;
}
.bc-history dd {
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 12px;
  min-height: 24px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-top: 6px;
  text-align: left;
}
.bc-history-mobile {
  display: block;
}
@media (min-width: 63.9385em) {
  .bc-history-mobile {
    display: none;
  }
}
.bc-history-link {
  display: none;
}
@media (min-width: 47.9385em) {
  .bc-history-link {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-top: 1px solid #212121;
    box-shadow: none;
    color: #212121;
    cursor: pointer;
    display: block;
    font-size: 0.75rem;
    height: 12px;
    margin: 12px 0 0;
    padding: 12px;
    width: 100%;
  }
  .bc-history-link:before {
    background: transparent url(/static/media/triangle.0c767ea5.svg) 0 0
      no-repeat;
    background-size: 16px;
    content: "";
    display: block;
    height: 16px;
    margin: 0 auto;
    transform: rotate(180deg);
    width: 16px;
  }
}
@media (min-width: 63.9385em) {
  .bc-history-link {
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    z-index: 300;
  }
  .bc-history-link:before {
    background-size: 12px;
    height: 12px;
    width: 12px;
  }
}
.bc-history-link-inverse:before {
  transform: rotate(0deg);
}
.bc-legend {
  margin-bottom: 24px;
  margin-top: 24px;
}
.bc-legend dl {
  align-items: center;
  display: grid;
  grid-template-columns: 40px 1fr;
  line-height: 1.2;
}
.bc-legend dl dt {
  margin: 12px 0;
}
.bc-legend dl dd {
  margin: 12px;
}
.bc-legend abbr {
  cursor: help;
  display: inline-block;
  padding: 12px;
}
.bc-legend .bc-supports {
  display: inline-block;
  min-height: 30px;
  min-width: 30px;
}
.offscreen,
.only-icon span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.breadcrumbs {
  font-size: 0.9rem;
  padding: 6px 24px;
}
@media (min-width: 63.9385em) {
  .breadcrumbs {
    padding: 24px;
  }
}
.breadcrumbs ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.breadcrumbs li .breadcrumb,
.breadcrumbs li .breadcrumb-current-page {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
@media (min-width: 63.9385em) {
  .breadcrumbs li .breadcrumb,
  .breadcrumbs li .breadcrumb-current-page {
    border: inherit;
    clip: inherit;
    height: inherit;
    margin: inherit;
    overflow: inherit;
    padding: inherit;
    position: inherit !important;
    width: inherit;
  }
}
.breadcrumbs li .breadcrumb-penultimate:after,
.breadcrumbs li .breadcrumb:after {
  content: "";
  background: transparent url(/static/media/chevron.38384ed3.svg) 0 0 no-repeat;
  background-size: 12px;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
}
.breadcrumbs li .breadcrumb:after {
  display: inline-block;
}
.breadcrumbs li .breadcrumb-penultimate:before {
  display: inline-block;
  content: "";
  background: transparent url(/static/media/chevron.38384ed3.svg) 0 0 no-repeat;
  background-size: 12px;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
}
@media (min-width: 63.9385em) {
  .breadcrumbs li .breadcrumb-penultimate:before {
    display: none;
  }
}
.breadcrumbs li .breadcrumb-penultimate:after {
  display: none;
}
@media (min-width: 63.9385em) {
  .breadcrumbs li .breadcrumb-penultimate:after {
    display: inline-block;
  }
}
.breadcrumbs li:last-child a:link,
.breadcrumbs li:last-child a:visited {
  color: #212121;
}
.language-menu {
  padding: 12px 24px;
}
@media (min-width: 74.9375em) {
  .language-menu {
    text-align: right;
  }
}
.language-menu select {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
@media (min-width: 47.9385em) {
  .language-menu select {
    display: inline-block;
    vertical-align: text-top;
    width: 80%;
  }
}
@media (min-width: 63.9385em) {
  .language-menu select {
    width: inherit;
  }
}
.language-menu .button {
  max-width: inherit;
  width: 100%;
}
@media (min-width: 47.9385em) {
  .language-menu .button {
    width: auto;
  }
}
.titlebar-container {
  background-color: #eee;
  border-bottom: 1px solid #cdd5d7;
  border-top: 1px solid #cdd5d7;
  padding: 12px 24px;
}
@media (min-width: 47.9385em) {
  .titlebar-container {
    padding: 0;
  }
}
.titlebar-container h1 {
  word-break: break-all;
}
@media (min-width: 47.9385em) {
  .titlebar-container h1 {
    margin: 0 auto;
    max-width: 1400px;
    padding: 24px;
  }
}
.document-toc {
  font-size: 1rem;
  padding: 12px 24px;
  position: relative;
}
.document-toc h2 {
  display: none;
}
@media (min-width: 74.9375em) {
  .document-toc h2 {
    display: block;
    font-size: 1.563rem;
  }
}
.document-toc .toc-trigger-mobile {
  border: 0;
  border-bottom: 2px solid #216b82;
  color: #1e7f9d;
  font-weight: 400;
  padding: 12px;
  text-align: left;
  width: 100%;
}
@media (min-width: 74.9375em) {
  .document-toc .toc-trigger-mobile {
    display: none;
  }
}
.document-toc .toc-trigger-mobile:before {
  background: transparent url(/static/media/triangle.0c767ea5.svg) 0 0 no-repeat;
  background-size: 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  transform: rotate(90deg);
  transform-origin: 50%;
  transition: transform 0.2s ease-in;
  vertical-align: sub;
  width: 16px;
}
@media (min-width: 74.9375em) {
  .document-toc .toc-trigger-mobile:before {
    display: none;
  }
}
.document-toc .toc-trigger-mobile[aria-expanded="true"]:before {
  transform: rotate(180deg);
}
.document-toc ul {
  background-color: #fff;
  border: 2px solid #216b82;
  display: none;
  list-style: none;
  padding: 0 24px;
  position: absolute;
  top: 65px;
  z-index: 300;
}
@media (min-width: 74.9375em) {
  .document-toc ul {
    background-color: inherit;
    border: 0;
    display: block;
    padding-left: 0;
    position: inherit;
    top: inherit;
    width: auto;
    z-index: inherit;
  }
}
.document-toc ul li {
  line-height: 1.2;
  margin: 20px 0;
}
@media (min-width: 74.9375em) {
  .document-toc ul li {
    margin: 10px 0;
  }
}
.document-toc .show-toc {
  display: block;
}
.sidebar {
  font-size: 1rem;
  padding: 24px;
}
.sidebar h4 {
  font-family: zillaslab, palatino, "Palatino Linotype", serif;
  font-size: 1.563rem;
  margin-bottom: 24px;
}
.sidebar ol {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 47.9385em) {
  .sidebar ol ol,
  .sidebar ol ul {
    padding-left: 12px;
  }
}
.sidebar li,
.sidebar summary {
  margin-bottom: 12px;
}
.sidebar a {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.sidebar code {
  background-color: transparent;
}
.sidebar summary {
  cursor: pointer;
}
.sidebar details {
  margin: 24px 0;
}
.language-css span.token.string,
.style span.token.string,
span.token.entity,
span.token.operator,
span.token.url {
  background-color: transparent;
}
.loading-document-placeholder article {
  margin-bottom: 1200px;
}
.article {
  padding: 24px;
}
@media (min-width: 63.9385em) {
  .article {
    margin-bottom: 96px;
  }
}
.article dl,
.article ol,
.article p,
.article ul {
  max-width: 42rem;
  max-width: 80ch;
}
.article a code {
  color: #212121;
  text-decoration: underline;
}
.article a:active {
  background-color: #1e7f9d;
  color: #fff;
}
.article h2 {
  margin-bottom: 12px;
}
@media (min-width: 47.9385em) {
  .article h2 {
    margin-bottom: 36px;
  }
}
.article h2 a:link,
.article h2 a:visited {
  color: #212121;
}
.article h2 a:active {
  background-color: transparent;
  color: #1e7f9d;
}
.article h3 a:link,
.article h3 a:visited {
  color: #fff;
}
.article h3 a:active {
  background-color: transparent;
  color: #fff;
}
.article pre {
  background-color: #eee;
  border-left: 6px solid #1e7f9d;
  line-height: 1.4;
  max-width: 100%;
  overflow: auto;
  padding: 24px;
  width: 100%;
}
@media (min-width: 47.9385em) {
  .article .prev-next {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
.article .prev-next a.button {
  margin-bottom: 12px;
  max-width: inherit;
}
@media (min-width: 47.9385em) {
  .article .prev-next a.button {
    margin-bottom: inherit;
  }
}
.logo {
  display: block;
  height: 35px;
  width: 170px;
}
@media (min-width: 47.9385em) {
  .logo {
    height: 44px;
    width: 200px;
  }
}
@media (min-width: 74.9375em) {
  .logo {
    flex-basis: 200px;
    height: inherit;
  }
}
.page-footer-logo {
  margin-bottom: 24px;
}
.page-footer {
  background-color: #212121;
  color: #fff;
  padding: 48px 24px;
}
.page-footer .content-container {
  margin: 0 auto;
  max-width: 1400px;
}
.page-footer a {
  color: #fff;
}
.page-footer ul a {
  display: block;
  padding: 10px 0;
}
.page-footer .social {
  align-items: center;
  display: flex;
}
.page-footer .social h4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: inherit;
  margin-right: 10px;
}
.page-footer .social li {
  display: inline-block;
  margin-right: 10px;
}
.page-footer .social svg {
  height: 18px;
  vertical-align: sub;
  width: 18px;
}
.page-footer .social svg path {
  fill: #fff;
}
.page-footer .footer-license {
  margin: 10px 0;
}
@media (min-width: 47.9385em) {
  .page-footer .footer-license {
    border-top: 1px solid #eee;
    margin: 50px 0 30px;
    padding: 30px 0 0;
  }
}
@media (min-width: 47.9385em) {
  .page-footer .footer-legal {
    padding-bottom: 20px;
  }
}
.page-footer .footer-legal li {
  display: inline-block;
}
.page-footer .footer-legal a {
  display: block;
  padding: 0 20px 0 0;
  text-decoration: underline;
}
@supports (display: grid) {
  .content-container {
    display: grid;
  }
  .content-container .footer-legal,
  .content-container .footer-license,
  .content-container .link-list-mdn,
  .content-container .link-list-moz,
  .content-container .page-footer-logo {
    grid-column: 1/3;
  }
  .content-container .page-footer-logo {
    grid-row: 1/2;
  }
  .content-container .link-list-mdn {
    grid-row: 2/3;
  }
  @media (min-width: 47.9385em) {
    .content-container .link-list-mdn {
      grid-column: 1/2;
    }
  }
  .content-container .link-list-moz {
    grid-row: 3/4;
  }
  @media (min-width: 47.9385em) {
    .content-container .link-list-moz {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }
  .content-container .social-mdn {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .content-container .social-moz {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .content-container .footer-license {
    grid-row: 5/6;
  }
  .content-container .footer-legal {
    grid-row: 6/7;
  }
}
.dropdown-container {
  position: relative;
}
.dropdown-container .dropdown-menu-label {
  align-items: center;
  border: 0;
  color: #212121;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  padding: 0;
  white-space: nowrap;
}
@media (min-width: 47.9385em) {
  .dropdown-container .dropdown-menu-label {
    padding: 0 6px 6px;
  }
}
.dropdown-container .dropdown-menu-items {
  background-color: #fff;
  display: none;
  flex-direction: column;
  margin: 12px 0;
  min-width: 100%;
}
@media (min-width: 47.9385em) {
  .dropdown-container .dropdown-menu-items {
    border: 1px solid #8e8e8e;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 #c9c9c9;
    position: absolute;
    right: 0;
    z-index: 300;
  }
}
.dropdown-container .dropdown-menu-items a,
.dropdown-container .dropdown-menu-items button {
  color: #212121;
  display: inline-block;
  padding: 6px 12px;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
.dropdown-container .dropdown-menu-items a:focus,
.dropdown-container .dropdown-menu-items a:hover,
.dropdown-container .dropdown-menu-items button:focus,
.dropdown-container .dropdown-menu-items button:hover {
  background-color: #1e7f9d;
  color: #fff;
  text-decoration: none;
}
.dropdown-container .show {
  display: block;
}
.auth-container {
  margin-top: 12px;
}
@media (min-width: 74.9375em) {
  .auth-container {
    margin-top: 0;
  }
}
.avatar {
  border-radius: 50%;
  height: 40px;
  pointer-events: none;
  width: 40px;
}
.avatar-username {
  margin-left: 6px;
}
@media (min-width: 74.9375em) {
  .avatar-username {
    display: none;
  }
}
a.signin-link {
  color: #212121;
  font-weight: 700;
}
ul.main-menu {
  background-color: #fff;
  box-sizing: border-box;
  font-weight: 700;
  width: 100%;
}
@media (min-width: 47.9385em) {
  ul.main-menu {
    display: flex;
    justify-content: space-between;
    width: inherit;
  }
  ul.main-menu li:last-child {
    flex-basis: inherit;
  }
}
@media (min-width: 74.9375em) {
  ul.main-menu {
    justify-content: space-around;
  }
  ul.main-menu li {
    flex-basis: inherit;
  }
}
ul.main-menu li ul {
  background-color: #fff;
  display: none;
  margin: 0;
  padding: 6px 0;
}
@media (min-width: 47.9385em) {
  ul.main-menu li ul {
    border: 1px solid #8e8e8e;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 #c9c9c9;
  }
}
ul.main-menu li ul a {
  display: block;
  padding: 6px 16px;
  width: 100%;
}
ul.main-menu li ul a:focus,
ul.main-menu li ul a:hover {
  background-color: #1e7f9d;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 47.9385em) {
  ul.main-menu li ul a {
    width: unset;
  }
}
ul.main-menu li ul li {
  width: 100%;
}
@media (min-width: 47.9385em) {
  ul.main-menu li ul li {
    width: unset;
  }
}
ul.main-menu .top-level-entry-container {
  position: relative;
}
ul.main-menu ul.show {
  display: block;
}
@media (min-width: 47.9385em) {
  ul.main-menu ul.show {
    min-width: 220px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    position: absolute;
    z-index: 300;
  }
  ul.main-menu ul.show.feedback {
    right: 0;
  }
}
@media (min-width: 63.9385em) {
  ul.main-menu ul.show,
  ul.main-menu ul.show.feedback {
    right: inherit;
  }
}
ul.main-menu .top-level-entry {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 10px 10px 15px 0;
  text-align: left;
  width: 100%;
}
@media (min-width: 47.9385em) {
  ul.main-menu .top-level-entry {
    padding: 12px 12px 12px 0;
    width: unset;
  }
}
ul.main-menu .top-level-entry:before {
  background: transparent url(/static/media/triangle.0c767ea5.svg) 0 0 no-repeat;
  background-size: 12px;
  content: "";
  display: inline-block;
  font-size: 0.75rem;
  height: 12px;
  margin-right: 6px;
  transform: rotate(90deg);
  width: 12px;
}
ul.main-menu .top-level-entry[aria-expanded="true"]:before {
  transform: rotate(180deg);
}
ul.main-menu.show {
  display: block;
}
@media (min-width: 47.9385em) {
  ul.main-menu.show {
    display: flex;
  }
}
@media (min-width: 47.9385em) {
  .page-overlay {
    display: none;
  }
}
.main-menu-toggle {
  background: none;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 24px;
}
.main-menu-toggle:before {
  background: transparent url(/static/media/menu-open.6ea943d3.svg) 0 0
    no-repeat;
  background-size: 21px;
  content: "";
  display: block;
  height: 21px;
  width: 21px;
}
.main-menu-toggle.expanded:before {
  background-image: url(/static/media/menu-close.a371d5d5.svg);
}
@media (min-width: 47.9385em) {
  .main-menu-toggle {
    display: none;
  }
}
.page-header {
  margin: 0 auto;
  max-width: 1400px;
  padding: 24px;
  position: relative;
  width: 100%;
}
@media (min-width: 47.9385em) {
  .page-header {
    display: flex;
    flex-flow: column;
  }
}
@media (min-width: 74.9375em) {
  .page-header {
    flex-flow: row;
  }
}
.page-header-main {
  background-color: #fff;
  display: none;
  left: 0;
  padding: 0 24px 24px;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 300;
}
@media (min-width: 47.9385em) {
  .page-header-main {
    display: block;
    grid-template-columns: 70% 30%;
    left: inherit;
    padding: 0;
    position: relative;
    top: inherit;
  }
  @supports (display: grid) {
    .page-header-main {
      display: grid;
    }
  }
}
@media (min-width: 74.9375em) {
  .page-header-main {
    grid-template-columns: 2fr 1fr 70px;
  }
}
.page-header-main .auth-container,
.page-header-main .header-search,
.page-header-main .main-nav {
  grid-column: 1/2;
}
.page-header-main .main-nav {
  grid-row: 2/3;
}
.page-header-main .header-search {
  grid-row: 1/2;
}
.page-header-main .auth-container {
  grid-row: 3/4;
}
@media (min-width: 47.9385em) {
  .page-header-main .main-nav {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .page-header-main .header-search {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .page-header-main .auth-container {
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: flex-end;
  }
}
@media (min-width: 74.9375em) {
  .page-header-main .auth-container,
  .page-header-main .header-search,
  .page-header-main .main-nav {
    grid-row: 1/2;
  }
  .page-header-main .main-nav {
    grid-column: 1/2;
  }
  .page-header-main .header-search {
    grid-column: 2/3;
  }
  .page-header-main .auth-container {
    grid-column: 3/4;
  }
}
.show {
  display: block;
}
@supports (display: grid) {
  .show {
    display: grid;
  }
}
.mdn-cta-container {
  display: none;
}
@media (min-width: 47.9385em) {
  .mdn-cta-container {
    background-image: linear-gradient(90deg, #83d0f2, #ebf8e1);
    bottom: 0;
    display: block;
    height: 190px;
    padding: 24px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
  }
  .mdn-cta-container .mdn-cta-title {
    background-color: #212121;
    color: #fff;
    display: inline-block;
    font-size: 1.953rem;
    font-weight: 400;
    margin: 0;
    padding: 0 10px 0 20px;
    position: relative;
  }
  .mdn-cta-container .mdn-cta-copy {
    margin: 12px 0;
  }
  .mdn-cta-container .button,
  .mdn-cta-container .button:active,
  .mdn-cta-container .button:focus,
  .mdn-cta-container .button:hover {
    border: 2px solid #212121;
  }
  .mdn-cta-container .mdn-cta-close {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
@media (min-width: 63.9385em) {
  .mdn-cta-container {
    height: 130px;
    padding: inherit;
  }
  .mdn-cta-container .mdn-cta-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 74.9375em;
    padding-top: 0;
  }
  .mdn-cta-container .mdn-cta-content-container {
    display: flex;
    flex-basis: 80%;
    justify-content: space-around;
  }
}
.mdn-cta-container .mdn-cta-button-container {
  position: relative;
}
@media (min-width: 63.9385em) {
  .mdn-cta-container .mdn-cta-button-container {
    flex-basis: 20%;
    margin: 0;
  }
}
/*# sourceMappingURL=main.388057c2.chunk.css.map */
